<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Backend</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .navbar-brand img {
          height: 40px;
          margin-right: 10px;
        }
        footer {
          background-color: #343a40;
          color: #ffffff;
        }
    </style>
</head>
<body>
<!-- Header con el menú dropdown -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/admin/dashboard}" >API</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/usuario/usuarios}" id="usuariosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuarios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="usuariosDropdown">
                        <li><a class="dropdown-item"  th:href="@{/admin/usuario/tipoUsuario}">Tipo de Usuario</a></li>
                        <li><a class="dropdown-item"  th:href="@{/admin/usuario/usuarios}">Usuarios</a></li>
                        <li><a class="dropdown-item"  th:href="@{/admin/log/logUsuarios}">Logs de Usuario</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/personaje/personajes}" id="personajesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Personajes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="personajesDropdown">
                        <li><a class="dropdown-item"  th:href="@{/admin/personaje/personajes}">Personajes</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/personaje/tipoPersonaje}">Clases</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/personaje/personajesItems}">Inventarios</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/personaje/personajesHabilidades}">Habilidades</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/personaje/personajesLogros}">Logros</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/personaje/personajesMisiones}">Misiones</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/monstruo/monstruos}" id="monstruosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Monstruos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="monstruosDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/monstruo/tipoMonstruo}">Tipo de Monstruo</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/monstruo/monstruos}">Monstruos</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/monstruo/monstruosItems}">Monstruos y Drops</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/monstruo/monstruosHabilidades}">Monstruos y Habilidades</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/log/logJugadores}">Registro de Jugador y Monstruo</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/item/items}" id="itemsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Items
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="itemsDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/item/tipoItem}">Tipo de Item</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/item/items}">Items</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/item/itemsEfectos}">Items y efectos</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/log/logTransacciones}">Transacciones NPC-Jugador</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/grupo/grupos}" id="gruposDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Grupos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="gruposDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/grupo/tipoGrupo}">Tipo de Grupo</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/grupo/grupos}">Grupos</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/grupo/lideresGrupos}">Lideres</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/misiones/npcs}" id="misionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Misiones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="misionDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/mision/misiones}">Misiones</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/mision/misionesItems}">Misiones recompensas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/mapa/mapas}" id="mapasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mapas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="mapasDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/mapa/tipoMapa}">Tipo de Mapa</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/mapa/mapas}">Mapas</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/mapa/mapasEfecto}">Mapas y Efectos</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/mapa/mapasMonstruo}">Mapas y Monstruos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/npc/npcs}" id="npcsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        NPCs
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="npcsDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/npc/tipoNpc}">Tipo de NPC</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/npc/npcsItems}">Tiendas de NPC</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/npc/npcs}">NPCs</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/habilidad/habilidades}" id="habilidadesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Habilidades
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="habilidadesDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/habilidad/habilidades}">Habilidades</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/habilidad/habilidadesEfectos}">Efectos de habilidad</a></li>
                    </ul>
                </li>
                <li class="nav-item active" ><a class="nav-link" th:href="@{/admin/estado/estados}">Efectos de Estado</a></li>
                <li class="nav-item active" ><a class="nav-link"  th:href="@{/admin/estadistica/estadisticas}" >Estadisticas</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container mt-4">
    <!-- Mensaje de Error -->
    <div th:if="${error}" class="alert alert-danger">
        <p th:text="${error}"></p>
    </div>

    <h2 class="text-center mb-4">Gestión de Monstruos</h2>
    <!-- Formulario para crear o editar Monstruo -->
    <div class="form-container">

        <form th:action="@{/admin/monstruo/monstruos/save}" th:object="${monstruo}" method="post">
            <input type="hidden" th:field="*{monstruo_id}" />

            <!-- Nombre del Monstruo -->
            <div class="form-group mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input id="nombre" type="text" th:field="*{nombre}" class="form-control" placeholder="Nombre del monstruo" required />
            </div>

            <!-- Tipo de Monstruo -->
            <div class="form-group mb-3">
                <label for="tipomonstruo" class="form-label">Tipo de Monstruo</label>
                <select id="tipomonstruo" th:field="*{tipo_monstruo}" class="form-control" required>
                    <option th:each="tipo : ${tipoMonstruoList}" th:value="${tipo.tipo_monstruo_id}" th:text="${tipo.nombre}"></option>
                </select>
            </div>


            <!-- Nivel del Monstruo -->
            <div class="form-group mb-3">
                <label for="nivel" class="form-label">Nivel</label>
                <input id="nivel" type="number" th:field="*{nivel}" class="form-control" placeholder="Nivel" required min="1" />
            </div>

            <!-- Descripción -->
            <div class="form-group mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea id="descripcion" th:field="*{descripcion}" class="form-control" placeholder="Descripción del monstruo" rows="3"></textarea>
            </div>

            <!-- Imagen -->
            <div class="form-group mb-3">
                <label for="imagen" class="form-label">Imagen (URL)</label>
                <input id="imagen" type="text" th:field="*{imagen}" class="form-control" placeholder="URL de la imagen del monstruo" />
            </div>

            <!-- Almas Otorgadas -->
            <div class="form-group mb-3">
                <label for="almasOtrogadas" class="form-label">Almas Otorgadas</label>
                <input id="almasOtrogadas" type="number" th:field="*{almasOtrogadas}" class="form-control" required min="0" />
            </div>

            <!-- Experiencia Otorgada -->
            <div class="form-group mb-3">
                <label for="experienciaOtorgada" class="form-label">Experiencia Otorgada</label>
                <input id="experienciaOtorgada" type="number" th:field="*{experienciaOtorgada}" class="form-control" required min="0" />
            </div>

            <!-- Campos de Estadísticas Generales -->
            <h4 class="mt-4">Estadísticas Generales</h4>

            <div class="form-group mb-3">
                <label for="vida" class="form-label">Vida </label>
                <input type="number" id="vida" th:field="*{estadisticas.vida}" class="form-control" placeholder="Vida base" />
            </div>
            <div class="form-group mb-3">
                <label for="regeneracionVida" class="form-label">Regeneración de Vida </label>
                <input type="number" id="regeneracionVida" th:field="*{estadisticas.regeneracionVida}" class="form-control" placeholder="Regeneración de vida" />
            </div>
            <div class="form-group mb-3">
                <label for="escudo" class="form-label">Escudo </label>
                <input type="number" id="escudo" th:field="*{estadisticas.escudo}" class="form-control" placeholder="Escudo base" />
            </div>
            <div class="form-group mb-3">
                <label for="energia" class="form-label">Energía </label>
                <input type="number" id="energia" th:field="*{estadisticas.energia}" class="form-control" placeholder="Energía base" />
            </div>
            <div class="form-group mb-3">
                <label for="regeneracionEnergia" class="form-label">Regeneración de Energía</label>
                <input type="number" id="regeneracionEnergia" th:field="*{estadisticas.regeneracionEnergia}" class="form-control" placeholder="Regeneración de energía" />
            </div>
            <div class="form-group mb-3">
                <label for="mana" class="form-label">Maná Base</label>
                <input type="number" id="mana" th:field="*{estadisticas.mana}" class="form-control" placeholder="Maná base" />
            </div>
            <div class="form-group mb-3">
                <label for="regeneracionMana" class="form-label">Regeneraciónde Maná</label>
                <input type="number" id="regeneracionMana" th:field="*{estadisticas.regeneracionMana}" class="form-control" placeholder="Regeneración de maná" />
            </div>
            <div class="form-group mb-3">
                <label for="ataqueFisico" class="form-label">Ataque Físico</label>
                <input type="number" id="ataqueFisico" th:field="*{estadisticas.ataqueFisico}" class="form-control" placeholder="Ataque físico" />
            </div>
            <div class="form-group mb-3">
                <label for="ataqueMagico" class="form-label">Ataque Mágico</label>
                <input type="number" id="ataqueMagico" th:field="*{estadisticas.ataqueMagico}" class="form-control" placeholder="Ataque mágico" />
            </div>
            <div class="form-group mb-3">
                <label for="defensaFisica" class="form-label">Defensa Física</label>
                <input type="number" id="defensaFisica" th:field="*{estadisticas.defensaFisica}" class="form-control" placeholder="Defensa física" />
            </div>
            <div class="form-group mb-3">
                <label for="defensaMagica" class="form-label">Defensa Mágica</label>
                <input type="number" id="defensaMagica" th:field="*{estadisticas.defensaMagica}" class="form-control" placeholder="Defensa mágica" />
            </div>


            <button type="submit" class="btn btn-primary">
                <span th:text="${monstruo.monstruo_id != null ? 'Actualizar' : 'Crear'}"></span>
            </button>
        </form>
    </div>

    <!-- Listado de Monstruos -->
    <div th:unless="${monstruo.monstruo_id != null}" class="table-container">
        <h3 class="mb-4">Listado de Monstruos</h3>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID Monstruo</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Nivel</th>
                <th>Descripcion</th>
                <th>Imagen</th>
                <th>Almas</th>
                <th>Experiencia</th>
                <th>Estadistica</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="monstruo : ${monstruos}">
                <td th:text="${monstruo.monstruo_id}"></td>
                <td th:text="${monstruo.nombre}"></td>
                <td th:text="${monstruo.tipo_monstruo.nombre}"></td>
                <td th:text="${monstruo.nivel}"></td>
                <td th:text="${monstruo.descripcion}"></td>
                <td th:text="${monstruo.imagen}"></td>
                <td th:text="${monstruo.almasOtrogadas}"></td>
                <td th:text="${monstruo.experienciaOtorgada}"></td>
                <td th:text="${monstruo.estadisticas.estadistica_id}"></td>
                <td>
                    <a href="#" th:href="@{/admin/monstruo/monstruos/edit/{id}(id=${monstruo.monstruo_id})}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="#" th:href="@{/admin/monstruo/monstruos/delete/{id}(id=${monstruo.monstruo_id})}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>




</div>



<!-- Footer -->
<footer class="mt-5 py-3">
    <div class="container text-center">
        <p class="mb-0">Backend V1.0 Acceso a Datos DAM</p>
    </div>
</footer>

<!-- Agregar Bootstrap JS para que los dropdowns funcionen -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
