<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Backend</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .navbar-brand img {
          height: 40px;
          margin-right: 10px;
        }
        footer {
          background-color: #343a40;
          color: #ffffff;
        }
    </style>
</head>
<body>
<!-- Header con el menú dropdown -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/admin/dashboard}">Mi Juego</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item active" ><a class="nav-link" th:href="@{/admin/dashboard}">Dashboard</a></li>

                <!-- Dropdown de Usuarios -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/usuarios}" id="usuariosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuarios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="usuariosDropdown">
                        <li><a class="dropdown-item"  th:href="@{/admin/tipoUsuario}">Tipo de Usuario</a></li>
                        <li><a class="dropdown-item"  th:href="@{/admin/usuarios}">Usuarios</a></li>
                        <li><a class="dropdown-item"  th:href="@{/admin/logUsuarios}">Logs de Usuario</a></li>
                    </ul>
                </li>

                <!-- Dropdown de Personajes -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/personajes}" id="personajesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Personajes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="personajesDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/tipoPersonaje}">Personajes</a></li>
                        <li><a class="dropdown-item"  th:href="@{/admin/personajes}">Personajes</a></li>
                    </ul>
                </li>

                <!-- Dropdown de Monstruos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/monstruos}" id="monstruosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Monstruos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="monstruosDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/tipoMonstruo}">Tipo de Monstruo</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/monstruos}">Monstruos</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/logJugador}">Registro de Jugador y Monstruo</a></li>
                    </ul>
                </li>

                <!-- Dropdown de Items -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/items}" id="itemsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Items
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="itemsDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/tipoItem}">Tipo de Item</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/items}">Items</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/logTransacciones}">Transacciones NPC-Jugador</a></li>
                    </ul>
                </li>

                <!-- Dropdown de Grupos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/grupos}" id="gruposDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Grupos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="gruposDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/tipoGrupo}">Tipo de Grupo</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/grupos}">Grupos</a></li>
                    </ul>
                </li>

                <!-- Dropdown de Misiones -->
                <li class="nav-item active" ><a class="nav-link" th:href="@{/admin/misiones}">Misiones</a></li>

                <!-- Dropdown de Mapas -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/mapas}" id="mapasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mapas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="mapasDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/tipoMapa}">Tipo de Mapa</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/mapas}">Mapas</a></li>
                    </ul>
                </li>

                <!-- Dropdown de NPCs -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/npcs}" id="npcsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        NPCs
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="npcsDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/tipoNpc}">Tipo de NPC</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/npcs}">NPCs</a></li>
                    </ul>
                </li>

                <!-- Habilidades -->
                <li class="nav-item active" ><a class="nav-link" th:href="@{/admin/habilidades}">Habilidades</a></li>

                <!--  Efectos de Estado -->
                <li class="nav-item active" ><a class="nav-link" th:href="@{/admin/estados}">Efectos de Estado</a></li>

            </ul>
        </div>
    </div>
</nav>

<!-- Contenido principal -->
<div class="container mt-4">
    <h1 class="mb-4">Gestión de Logs Transacciones</h1>
    <!-- Lista de  Personaje -->
    <section class="mt-5">
        <h2>Lista de Logs de Transacciones</h2>
        <table class="table table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Personaje</th>
                <th>Npc</th>
                <th>Item</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Fecha</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="o : ${logTransaccion}">

                <td th:text="${o.transaccion_id}"></td>
                <td th:text="${o.personaje}"></td>
                <td th:text="${o.npc}"></td>
                <td th:text="${o.item}"></td>
                <td th:text="${o.cantidad}"></td>
                <td th:text="${o.precio_almas}"></td>
                <td th:text="${o.fecha_transaccion}"></td>


                <td>
                    <a th:href="@{'/admin/logTransacciones/edit/' + ${o.transaccion_id}}" class="btn btn-sm btn-primary">Editar</a> |
                    <a th:href="@{'/admin/logTransacciones/delete/' + ${o.transaccion_id}}"
                       class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de eliminar esta ?');">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>

<!-- Footer -->
<footer class="mt-5 py-3">
    <div class="container text-center">
        <p class="mb-0">Backend V1.0 Acceso a Datos DAM</p>
    </div>
</footer>

<!-- Agregar Bootstrap JS para que los dropdowns funcionen -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
